{% extends "template.html" %}

{% load static %}
{% load humanize %}
{% block body %}
<div class="untree_co-section before-footer-section">
    <div class="container"> 
        {% if not cart_list %}
        <div style="text-align: center;">
            <a href="{% url 'shop' %}" style="font-size: x-large; text-decoration: none;">Giỏ hàng của bạn đang trống 😥 <span style="color: #198754;">Click để mua sắm ngay 🛒</span></a>
            <img src="{% static 'images/empty_cart.png' %}" class="img-fluid" alt="Saroo">
        </div>
        {% else %}
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Ảnh</th>
                                <th class="product-name">Sản phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-total">Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: larger;">
                            {% for x in cart_list %}
                            <tr>
                                <td class="product-thumbnail">
                                    <img src="{{x.idpro.imgpro}}" alt="Product" class="img-fluid"
                                        style="border-radius: 7%; max-width: 60%;">
                                </td>
                                <td class="product-name">{{x.idpro.name}}</td>
                                <td>{{ x.idpro.unitprice|floatformat:"0"|intcomma }}</td>
                                <td style="text-align: -webkit-center;">{{x.quantity}}</td>
                                <td>{{ x.total |floatformat:"0"|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <button class="btn" type="button" style="background-color: #0d6efd; border-color: #0d6efd"><a
                                href="{% url 'profile' %}" style="text-decoration:none; color: white;">Quay lại</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row mb-3" style="font-size: large;">
                            <div class="col-md-6">
                                <span class="text-black">Tổng tiền</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black" id="lastTotal">{{bill.amount|floatformat:"0"|intcomma}} VND</strong>
                            </div>
                        </div>
                    </div>
                    {% if bill.coupon.name %}
                    <div class="col-md-7">
                        <div class="row mb-3" style="font-size: large;">
                            <div class="col-md-6">
                                <span class="text-black">Code: {{bill.coupon.name}}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black" id="lastTotal">{{bill.coupon.discount}}%</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row mb-3" style="font-size: large;">
                            <div class="col-md-6">
                                <span class="text-black">Thành tiền</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black" id="lastTotal">{{bill.total|floatformat:"0"|intcomma}} VND</strong>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}