{% extends "template.html" %}

{% load static %}
{% load humanize %}
{% block body %}
<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Chế biến từ các nguyên liệu chất lượng.</h2>
                <p class="mb-4">Được tui mua ở siêu thị gần nhà. Tự làm bảo đảm vệ sinh mà còn ngon, bổ, rẻ hehe.</p>
                <p><a href="{% url 'shop' %}" class="btn">Khám phá ngay</a></p>
            </div>

            {% for x in topPro %}
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item">
                    <img src="{{x.imgpro}}" class="img-fluid product-thumbnail" alt="Product">
                    <h3 class="product-title">{{x.name}}</h3>
                    <strong class="product-price">{{ x.unitprice|floatformat:"0"|intcomma }}</strong>

                    <span class="icon-cross add-cart" data-product="{{x.idpro}}" data-action="add">
                        <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Tại sao nên chọn sản phẩm của tôi </h2>
                <p>Vì nó ngon và sạch và thế đấy hết rồi đấy hihi !!!</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/truck.svg' %}" alt="Saroo" class="imf-fluid">
                            </div>
                            <h3>Giao hàng nhanh &amp; miễn phí</h3>
                            <p>Tôi giao hàng nhanh và miễn phí vì ai muốn ăn thì tôi tặng ăn chơi.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/bag.svg' %}" alt="Saroo" class="imf-fluid">
                            </div>
                            <h3>Dễ dàng mua sắm</h3>
                            <p>Mua cực dễ vì muốn gì nói tui, nếu có tui tặng ăn lấy thảo.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Hỗ trợ nhiệt tình vì đưa tận tay, day tận trán mà hihi.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Đổi trả miễn phí</h3>
                            <p>Ăn ngon hay dở góp ý cho tui nha. Có gì tui đổi cái khác cho.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{% static 'images/why-choose-us-img.jpg' %}" alt="Saroo" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="{% static 'images/kitchen.png' %}" alt="Saroo"></div>
                    <div class="grid grid-2"><img src="{% static 'images/ice-cream.png' %}" alt="Saroo"></div>
                    <div class="grid grid-3"><img src="{% static 'images/vector-pixel-art.png' %}" alt="Saroo"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">Khám phá thế giới của hương vị tuyệt vời</h2>
                <p>Bạn đã sẵn sàng để khám phá những hương vị mới mẻ và tuyệt vời nhất?</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Đồ ăn đa dạng, hương vị phong phú.</li>
                    <li>Khám phá hương vị mới mẻ, độc lạ.</li>
                    <li>Giao hàng nhanh chóng, tiện lợi.</li>
                    <li>Ưu đãi hấp dẫn hàng ngày, hàng giờ.</li>
                </ul>
                <p><a href="{% url 'shop' %}" class="btn">Khám phá nào</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="{% static 'images/mtp.png' %}" alt="MTP" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Sơn Tùng MTP</h3>
                        <p>Tui là Tùng đây tôi không biết sao tôi lại ở đây nhưng tôi nghĩ là mấy món trong này nó ngon á. </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="{% static 'images/mono.png' %}" alt="MONO" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Ca sĩ Mono</h3>
                        <p>Ủa anh Tùng ! Anh cũng ở đây à, em cũng không biết sao em lại có mặt ở đây nhưng em nghĩ mấy món trong này cũng được á.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="{% static 'images/person_1.png' %}" alt="Saroo" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Unknown</h3>
                        <p>Tôi là ai, đây là đâu. Tôi không biết tôi là ai nhưng có vẻ mấy món trong này nhìn ngon thật, muốn được ăn ghê.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Popular Product -->
{% endblock %}