{% extends "template.html" %}

{% load static %}
{% load humanize %}
{% block body %}
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row my-5">
            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Giao hàng nhanh &amp; miễn phí</h3>
                    <p>Tôi giao hàng nhanh và miễn phí vì ai muốn ăn thì tôi tặng ăn chơi.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Dễ dàng mua sắm</h3>
                    <p>Mua cực dễ vì muốn gì nói tui, nếu có tui tặng ăn lấy thảo.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Hỗ trợ 24/7</h3>
                    <p>Hỗ trợ nhiệt tình vì đưa tận tay, day tận trán mà hihi.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Đổi trả miễn phí</h3>
                    <p>Ăn ngon hay dở góp ý cho tui nha. Có gì tui đổi cái khác cho.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Product Section -->
<div class="product-section pt-0">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Chế biến từ các nguyên liệu chất lượng.</h2>
                <p class="mb-4">Được tui mua ở siêu thị gần nhà. Tự làm bảo đảm vệ sinh mà còn ngon, bổ, rẻ hehe.</p>
                <p><a href="{% url 'shop' %}" class="btn">Khám phá ngay</a></p>
            </div>

            {% for x in topPro %}
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item">
                    <img src="{{x.imgpro}}" class="img-fluid product-thumbnail" alt="Product">
                    <h3 class="product-title">{{x.name}}</h3>
                    <strong class="product-price">{{ x.unitprice|floatformat:"0"|intcomma }}</strong>

                    <span class="icon-cross add-cart" data-product="{{x.idpro}}" data-action="add">
                        <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                    </span>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Góp ý từ khách hàng</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">
                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>
                    <div class="testimonial-slider">
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Lại là Tùng đây, tôi biết sao tôi lại ở đây rồi vì tôi đến đây cùng Mono và chúng tôi rất thích Saroo Store! 
                                                Dù không ai trong chúng tôi là người theo lối ăn vặt nhưng chúng tôi rất thích món dùng ở đây.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{% static 'images/mtp.png' %}" alt="MTP" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Sơn Tùng MTP</h3>
                                            <span class="position d-block mb-3">Ca sĩ số 1 của tui aka GOAT vpop.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Cả món dùng lẫn dịch vụ ở đây đều tuyệt vời! Chúng tôi luôn chọn Saroo Store để mua đồ ăn.
                                                 Nhân viên tư vấn nhiệt tình, giới thiệu thực đơn, đồ ăn phong phú và giúp chúng tôi chọn được những món ngon xuất sắc.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{% static 'images/mono.png' %}" alt="Mono" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Mono</h3>
                                            <span class="position d-block mb-3">Ca sĩ Mono aka em của GOAT.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;jdgsjhfknbnksgfsdkfhskfhsdfgadshjkfgksdfgkdsgfsdgfksdafjhdsfjgsdhjkfgdshfjgdshjfgshjgjxcvcbhjhsqiriouweryieuwrf
                                                 xmnvbxnmcgvsjhtfjhsdfgbjhksfgjshdfgsadkjfgđf.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{% static 'images/person_1.png' %}" alt="Saroo" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Ai đó</h3>
                                            <span class="position d-block mb-3">Ai đó tui ko biết họ nói gì.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->
{% endblock %}