{% extends "template.html" %}

{% load static %}
{% load humanize %}
{% block body %}
<div class="untree_co-section product-section">
    <div class="container">
          <div class="row">

            {% for x in pro %}
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" >
                    <img src="{{x.imgpro}}" class="img-fluid product-thumbnail" alt="Product">
                    <h3 class="product-title">{{x.name}}</h3>
                    <!-- <strong class="product-price">{{x.unitprice}}</strong> -->
                    <strong class="product-price">{{ x.unitprice|floatformat:"0"|intcomma }}</strong>
                    <span class="icon-cross add-cart" data-product="{{x.idpro}}" data-action="add">
                        <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                    </span>
                </a>
            </div> 
            {% endfor %}
          </div>
    </div>
</div>
{% endblock %}